body{
    margin: 0 auto;
}
.Introduction{
    display: flex;
    margin-bottom: 100px;
}
.Intro-text{
    width: 50%;
    margin-left: 5%;
}
.Intro-text img {
    width: 60%;
    margin-left: 10%;
    padding-left: 10%;
}
span{
    color: orange;
}
h1 {
    color: gray;
    font-size: 50px;
}
h2{
    color: gray;
}
.Intro-text a{
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(to right,#fc8f49,#fe4b2e);
    border-image-slice: 1;
    border-radius: 10px;
    font-size: 30px;
    color: white; 
}
.About{
    display: flex;
    background-image: url(food-network-main/images/shapes/7.png);
    background-repeat: no-repeat;
}
.About-style img{
    width:30% ;
    margin-left: 10%;
    padding-left: 10%;
}
.About-style{
    width: 50%;
}
.About-style a{
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(to right,#fc8f49,#fe4b2e);
    border-image-slice: 1;
    border-radius: 10px;
    font-size: 30px;
    color: white; 
}
.Recipies{
    text-align: center;
}
.Recipies-item{
  width: 95%;
  display:flex;
  margin: 3%;
  justify-content: space-around;
  
}
.box{
    width: 30%;
    box-shadow: gray 20px 20px 50px;
    border-radius: 10%;
    border:3px solid gray;
    border-color: black;
    margin-top:10px;
    padding-left: 10px;
    padding-top: 10px;
    
}
.box img{
    width: 350px;
    margin-left: 15px;
}
.box h1 {
    font-size: 25px;
    color: black;
}
footer{
    background-color: black; 
    text-align: center;  
}
footer p{
    color: cornsilk;
}